body{
    font-family:  Helvetica, Arial, sans-serif;
} 
nav{
    font-size: 20px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color: white;
    background-color: #4b2e83;
    padding: .5rem;
    padding-bottom: 1rem;
}
nav ul{
    padding: 0;
    margin: 0;
}

nav a {
color: white;
display: inline;
    padding: 0;
    margin: 0 1rem;
}

nav a:hover {
color: blanchedalmond;
}

header{
    margin-top: 2rem;
    padding-top: .5rem;
    padding-bottom: 10rem;
    background-image: url('../img/skyline.jpg');
    background-size: cover;
    background-position: top;
    background-color: blue;
}

.restList {
text-align: center;
background-color: #4b2e83;
}

main {
    font-family: 'Courier New', Courier, monospace;
    background-color: #4b2e83;
    color: white;
    padding-bottom: 3rem;
}

main .container {
    display: flex;
    margin: 0;
    flex-direction: row;
    flex-wrap: wrap;
}

.container section {
    padding-bottom: 2em;
}

.container .column1 {
    flex-basis: 250px;
}

.container h1 {
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.container .column2 {
    flex: 1;
    justify-content: center;
    background-color:rgb(132, 87, 223);
}

.container .column3 {
    flex-basis: 250px;
}

.recommendations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.recommendations div {
    flex: 0 0 ;

}

.recommendations img {
    height: 200px;
    width: 200px;
    border-radius: 10px 10px 10px;
    text-align: center;
    margin: 1rem 2rem;
}

.recommendations p {
    text-align: center;
    margin-top: 0;
    font-weight: bolder;
}



header .container{
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    color: white;
    text-align: right;
    padding-right: 1rem;
}

.titleOfPage{
    font-weight: bold;
    
}


/*Changing the header background image based on width of screen*/
@media (min-width: 586px){
    header{
        background-image: url('../img/skyline2.jpg');
    }
}
@media (min-width: 992px){
    header{
        background-image: url('../img/skyline3.jpg');
    }
}
@media (min-width: 1200px){
    header{
        background-image: url('../img/skyline4.jpg');
    }
}