* {
    box-sizing: border-box;
}

html {
    background-color: bisque;
}

.container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
}

.container section {
    padding: 2em;
    background-color: maroon;
}

.container .problem {
    border: 2px solid white;
    flex: 1;
}

.container .app {
    border: 2px solid white;
    flex: 1 0 400px;
}
a{
    color: aliceblue;
}

